window {
margin: 0px;
border: 1px solid #5E81AC;
background-color: #E5E9F0;
}

#input {
margin: 5px;
border: none;
color: #5e81ac;
background-color: #e5e9f0;
}

#inner-box {
margin: 5px;
border: none;
background-color: #E5E9F0;
}

#outer-box {
margin: 5px;
border: none;
background-color: #e5e9f0
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #5e81ac;
font-size: 20;
}

entry:selected {
background-color: #ffffff;
}
